#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

#terraform overrides
*override.tf

# Plans
*.plans

# Secrets
secrets.tf

# Mac
.DS_Store

# Idea
.idea/*

# Generated lambda bundle
lambda.zip
